<%- include('../partials/header')  %> 
<body>
<%- include('../partials/navbar')  %> 

<p>Welcome to edit</p>

<form action="/destinations/<%= destination.id %>/?_method=PUT" method="post">
    <label for="name">Destination:</label>
    <input type="text" name="name" value="<%= destination.name %> " required>
    <br>
    <label for="pass">Pass Required</label>
    <select name="pass" id="pass" required>
      <option value="Northwest Forest Pass">Northwest Forest Pass</option>
      <option value="National Forest Pass">National Forest Pass</option>
      <option value="Oregon Pacific Coast Pass">Oregon Pacific Coast Pass</option>
      <option value="America the Beautiful National Parks Pass">America the Beautiful National Parks Pass</option>
    </select>
    <br>
    <label for="location">Location:</label>
    <input type="text" name="location" value="<%= destination.location %> ">
    <br>
    <label for="gps">GPS Coordinates:</label>
    <input type="text" name="gps" value="<%= destination.gps %> ">
    <br>
    <br>
    <input type="submit" value="Update Destination">
</form>