<%- include('../partials/header')  %> 
<title>Trip Planner Home</title>
<body>
<%- include('../partials/navbar')  %>
<% if (trips.length) { %>
    <% trips.forEach(function(t) {%> 
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card-top-row">
                </div>
                <div class="card-bottom-row">
                <%= t.name %> 
                <br>
                <%= t.person %>
                </div>
                <a href="/trips/<%= t._id %> ">Details</a>
            </div>
        </div>
    </div>
<% }); %> 
<% } else { %>
    <h2>No adventures await you... <br> yet!</h2>
<% } %> 

</body>
</html>