<%- include('../partials/header')  %> 
<title>Trip Planner Home</title>

<body>
<%- include('../partials/navbar')  %>
<p>Welcome to my index</p>



<% if (trips.length) { %>
    <% trips.forEach(function(t) {%> 
        <%= t.name %> 
        <br>
        <%= t.person %>
        <br>
        
        <a href="/trips/<%= t._id %> ">Details</a>
        <br>
        <br>
    <% }); %> 
 
<% } else { %>
    <h2>No adventures await you... <br> yet!</h2>
<% } %> 
</body>

</html>