<%- include('../partials/header')  %> 
<title>Trip Planner Home</title>

<body>
<%- include('../partials/navbar')  %>
<p>Welcome to my show page</p>

<br>
<form action="/trips/<%= trip._id %>/gears" method="POST">
    <input type="submit" value="Add Gear">
    <br>
    <label for="item">Gear your bringing: </label>
    <input type="text" name="item" placeholder="e.g. shoes" required>
    <br>
    <label for="qty">Quantity:</label>
    <input type="number" name="qty" min="1" required>
    <br>
    <label for="condition">Condition:</label>
    <select name="condition" id="condition" required>
        <option value="new">New</option>
        <option value="great">Great</option>
        <option value="OK">OK</option>
        <option value="bad">Bad</option>
        <option value="unusable">Unusable</option>
    </select>
</form>
<br>
<form action="/trips/<%= trip._id %>/notes" method="POST">
  <input type="submit" value="Add Notes" >
  <br>
  <textarea name="note" id="note" cols="25" rows="15"></textarea>
</form>
<br>
<%= trip.name %> 
<br>
<%= trip.person %>
<br>
<%= trip.leave %>
<br>
<%= trip.return %>
<br>
<br>
<form id="addToPlace" action="/trips/<%= trip._id %>/destinations" method="POST">
  <select name="destinationId">
    <%- destinations.map(d => `<option value="${d._id}">${d.name}</option>`).join('') %>
  </select>
  <button type="submit">Add to Destinations</button>
</form>

<%- trip.place.map(c => 
      `<li>${c.name}<br> 
            ${c.pass}<br>
            ${c.location}<br>
            ${c.gps}<br>
        </li><br>`
    ).join('') %>
<% if (trip.notes.length) { %>
    <table>
      <thead>
        <tr>
            <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% trip.notes.forEach(function(a) { %>
          <tr>
            <td><%= a.note %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="1"></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Notes Added Yet</h4>
  <% } %> 
<br>
<br>
<% if (trip.gear.length) { %>
    <table>
      <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Condition</th>
        </tr>
      </thead>
      <tbody>
        <% trip.gear.forEach(function(b) { %>
          <tr>
            <td><%= b.item %></td>
            <td><%= b.qty %></td>
            <td><%= b.condition %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="3"></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Gear Added Yet</h4>
  <% } %> 
</body>
</html>