<%- include('../partials/header')  %> 
<title>Trip <%= trip.name %> </title>
<body>
<%- include('../partials/navbar')  %>
<%- include('showpartial/gear') %> 
<%- include('showpartial/note') %>
<%- include('showpartial/destination') %>
<%- include('showpartial/detail') %> 
<%- include('../partials/collapsiblebar') %> 
<%- include('../partials/autoscroll')  %>
</body>
<%- include('../partials/footer') %> 