<%- include('../partials/header')  %> 
<title>Trip <%= trip.name %> </title>
<body>
<%- include('../partials/navbar')  %>
<form action="/trips/<%= trip._id %>/gears" method="POST">
    <input type="submit" value="Add Gear">
    <br>
    <label for="item">Gear your bringing: </label>
    <input type="text" name="item" placeholder="e.g. shoes" required>
    <br>
    <label for="qty">Quantity:</label>
    <input type="number" name="qty" min="1" required>
    <br>
    <label for="condition">Condition:</label>
    <select name="condition" id="condition" required>
        <option value="new">New</option>
        <option value="great">Great</option>
        <option value="OK">OK</option>
        <option value="bad">Bad</option>
        <option value="unusable">Unusable</option>
    </select>
</form>
<br>
<form action="/trips/<%= trip._id %>/notes" method="POST">
  <input type="submit" value="Add Notes" >
  <br>
  <textarea name="note" id="note" cols="25" rows="15"></textarea>
</form>
<form id="addToPlace" action="/trips/<%= trip._id %>/destinations" method="POST">
  <select name="destinationId">
    <%- destinations.map(d => `<option value="${d._id}">${d.name}</option>`).join('') %>
  </select>
  <button type="submit">Add to Destinations</button>
</form>
<br>
<button type="button" class="collapsible">Details</button>
<div class="content">
<%= trip.name %> 
<br>
<%= trip.person %>
<br>
<%= trip.leave %>
<br>
<%= trip.return %>
<br>
<br>
<button type="button" class="collapsible">Destinations</button>
<div class="content">
<%- trip.place.map(c => 
      `<li>${c.name}<br> 
        ${c.pass}<br>
        ${c.location}<br>
        ${c.gps}<br>
        </li><br>`
        ).join('') %>
</div>
<button type="button" class="collapsible">Notes</button>
<div class="content">
<% if (trip.notes.length) { %>
    <table>
      <thead>
        <tr>
            <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% trip.notes.forEach(function(a) { %>
          <tr>
            <td><%= a.note %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="1"></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Notes Added Yet</h4>
<% } %>
</div>
<button type="button" class="collapsible">Gear</button>
<div class="content">
<% if (trip.gear.length) { %>
    <table>
      <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Condition</th>
        </tr>
      </thead>
      <tbody>
        <% trip.gear.forEach(function(b) { %>
          <tr>
            <td><%= b.item %></td>
            <td><%= b.qty %></td>
            <td><%= b.condition %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="3"></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h4>No Gear Added Yet</h4>
  <% } %> 
</div>
</div>
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
</body>
</html>